# Optional Project
---
## Import pakcages

In [2]:
import numpy as np
import pandas as pd

## Read the Datasets

In [3]:
excel_file = pd.ExcelFile('./Datasets.xlsx')
dataset_1 = pd.read_excel(excel_file, 'Dataset 1')
dataset_2 = pd.read_excel(excel_file, 'Dataset 2')

In [4]:
dataset_1.head(5)

,Athlete,Team,League/Division,Season,Head Coach,Manager,A,AA,AB,B,...,WW,WX,X,XX,XY,Y,YY,YZ,Z,ZZ
0,1,36,5.0,1,7,13.0,85,90,90,85.775,...,95,90.0,95.0,90.0,95.0,88.385,NaN,83,90.0,NaN
1,2,50,5.0,1,7,13.0,95,92,95,85.635,...,95,84.0,87.0,84.0,95.0,88.385,NaN,85,90.0,NaN
2,3,41,5.0,1,7,13.0,85,85,85,85.425,...,95,NaN,NaN,NaN,95.0,88.385,85.0,90,90.0,NaN
3,4,60,1.0,1,10,29.0,90,80,90,88.000,...,95,85.0,85.0,85.0,93.0,89.385,70.0,95,90.0,95.0
4,5,22,1.0,1,10,29.0,90,90,85,87.300,...,95,70.0,65.0,85.0,93.0,89.385,90.0,82,85.0,93.0

In [5]:
dataset_2.head(5)

,Athlete,Team,League/Division,Season,Head Coach,Manager,A,AA,AB,B,...,W,WW,WX,X,XX,Y,YY,YZ,Z,ZZ
0,1,36,1.0,2,23,12.0,100.0,100.0,83.0,85.0,...,90.0,90.0,84.81,100.0,90.0,90.0,85.0,80.0,95.0,90
1,2,50,1.0,2,23,12.0,100.0,0.0,95.0,95.0,...,82.0,85.0,93.10,100.0,95.0,80.0,95.0,95.0,82.0,90
2,3,41,1.0,2,23,12.0,0.0,100.0,NaN,NaN,...,NaN,NaN,84.06,100.0,NaN,NaN,NaN,NaN,NaN,85
3,5,22,1.0,2,27,13.0,100.0,0.0,90.0,90.0,...,70.0,80.0,91.52,0.0,90.0,80.0,92.0,90.0,80.0,95
4,6,6,1.0,2,27,13.0,100.0,0.0,NaN,NaN,...,NaN,NaN,85.85,0.0,NaN,NaN,NaN,NaN,NaN,88

# Part 1: Data Set 1

### Fill missing values